/* --------------------------------------------------------------------------------------------------
Color Palette: 

body: #D3A377
background white: #F7F7DE 
dark brown: #423933
gray: #A2A19B

-----------------------------------------------------------------------------------------------*/

* {
  padding: 0;
  margin: 0;
}

/* ---------------------------------------------------General CSS------------------------------------------------*/

body {
  background-color: #d3a377;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h3 {
  font-size: 40px;
  font-family: "Abril Fatface", cursive;
  color: #423933;
}

p {
  font-family: "Roboto", sans-serif;
  color: #423933;
  font-size: 20px;
}

p::first-letter {
  color: #d3a377;
  font-size: 35px;
  font-family: "Abril Fatface", cursive;
}

/* ------------------------------------------------Navigation------------------------------------------------*/
header {
  padding: 25px;
  background-color: #d3a377;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

header #brand {
  font-weight: bold;
  font-size: 25px;
  display: flex;
  align-items: center;
  padding: 0 7%;
}

header #brand a {
  color: #f7f7de;
}

nav {
  margin: 0 7%;
}

nav ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul a {
  color: #f7f7de;
}

nav ul li {
  margin-left: 40px;
  font-size: 25px;
  font-family: "Abril Fatface", cursive;
  text-transform: uppercase;
}

nav ul li:hover {
  border-bottom: 2px solid#f7f7de;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #d3a377;
  height: 40vh;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
  padding: 20px;
  font-size: 20px;
  font-family: "Abril Fatface", cursive;
}

.mobile-menu li a {
  color: #f7f7de;
}

.mobile-menu li a:hover {
  border-bottom: 2px solid #f7f7de;
}

/* -----------------------------------------Main----------------------------------------------*/
main {
  background-color: #f7f7de;
  margin: 0% 7% 5% 7%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 7%;
  height: 80vh;
}

.name{
  text-align: center;
}

.name h1{
  font-size: 65px;
  font-family: "Abril Fatface", cursive;
  color: #423933;
}

.name h2{
  font-size: 30px;
  padding: 10px;
  font-family: "Abril Fatface", cursive;
  color: #f7f7de;
  background-color: #A2A19B;
}

.about, .contact{
  padding: 0 7%;
}

.about{
  height: 80vh;
}

.about-container{
  display: flex;
  justify-content:center;
  align-items:center;
}

.about-image{
  padding: 50px;
  cursor: pointer;
}

.about .about-image img{
  width: 250px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.about .about-image img:hover{
  transform: scale(1.2);
}

.projects h3{
  margin: 0 7%;
}

.slider {
  position: relative;
  padding: 3% 0;
}

.slider .next {
  position: absolute;
  top: 40%;
  right: 20px;
  font-size: 30px;
  color: #423933;
  cursor: pointer;
}

.slider .prev {
  position: absolute;
  top: 40%;
  left: 20px;
  font-size: 30px;
  color: #423933;
  cursor: pointer;
}

.slider .post-wrapper {
  width: 90%;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0 10px 0;
}

.slider .post-wrapper .post {
  width: 500px;
  height: 250px;
  margin: 0 15px;
  background: white;
  display: inline-block;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slider .post-wrapper .post .slider-image {
  width: 100%;
  height: 180px;
}

.slider .post-wrapper .post .project-info a {
  color: #423933;
  text-align: center;
}

.slider .post-wrapper .post:hover{
  transform: scale(1.1);
}

.slider .post-wrapper .post .project-info h4 {
  padding: 5px;
  font-family: "Roboto", sans-serif;
}

.contact h3, .about h3{
  padding: 3% 0;
}
.social {
  padding: 30px;
}

.social ul {
  justify-content: center;
  align-items: center;
  display: flex;
  list-style: none;
}

.social ul li {
  padding: 10px;
  font-size: 30px;
}

.social ul li a {
  color: #423933;
}

.social ul li a:hover {
  color: #d3a377;
}


/* -------------------------------------------Contact Form--------------------------------*/
.contact-form{
  font-family: "Roboto", sans-serif;
	width: 400px;
  height: 220px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:  0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form input[type="email"],
.contact-form input[type="text"]
{
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font-family: "Roboto", sans-serif;
	height: 30px;
}

.contact-form input[type="message"]{
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	border: none;
	border: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
  height: 100px;
  padding: 7px;
}
.contact-form button[type="submit"]{
  border: none;
	background-color:#d3a377;
  border-radius: 5px;
	cursor: pointer;
	color: #FFFFFF;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
}

/*--------------------------------------------Footer-------------------------------------------*/

/* footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer p {
  color: #f7f7de;
} */

/* ------------------------------ Back to Top button------------------------------------*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:#f7f7de; /* Set a background color */
  color:#423933; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 50px; /* Rounded corners */
  font-size: 16px; /* Increase font size */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1)
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
/* -----------------------------------------------Media Queries------------------------------*/

@media only screen and (max-width: 1080px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  main {
    margin: 0;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
  }

  .home{
    height: 70vh;
  }

   .about, .projects, .contact{
    height:auto;
  }
}

@media only screen and (max-width: 850px) {
  .home .name h1{
    font-size: 50px;
  }

  .home .name .occupation h2{
    font-size: 30px;
  }

  .about-container{
    flex-direction: column;
  }

  .about .about-image img:hover{
  transform: none;
  }

  .slider .post-wrapper .post:hover{
  transform: none;
}
}

@media only screen and (max-width: 600px) {
  h3{
    text-align: center;
  }

  p{
    font-size: 16px;
  }

  #hamburger-icon {
    display: block;
  }

  .slider .next {
    top: 40%;
    right: 5px;
    font-size: 20px;
  }
  
  .slider .prev {
    top: 40%;
    left: 5px;
    font-size: 20px;
  }

  .contact-form{
    font-family: "Roboto", sans-serif;
    width: 270px;
    height: 170px;
    padding: 20px;
    margin: 50px auto;
  }

  .contact-form input[type="email"],
  .contact-form input[type="text"]{
    height: 25px;
  }

  .contact-form input[type="message"]{
    height: 60px;
  }

  .contact-form button[type="submit"]{
    padding: 10px;
    font-size: 10px;
  }

 .home,.contact{
    height:60vh;
  }

  .projects{
    height:45vh;
  }

  .about .about-image img{
    width: 200px;
  }

  .home .name h1{
    font-size: 40px;
  }

  .home .name .occupation h2{
    font-size: 20px;
  }

}


